name: NPM Deploy

on:
  push:
    tags: 
      - v*

env:
  PROJECT_ENV: meta
  PROJECT_SERVICE: libraries

jobs:
  deploy:
    name: NPM Deploy
    permissions:
      id-token: write # for aws-actions/configure-aws-credentials
      contents: read # for actions/checkout
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: npm install
      - name: NPM Deploy
        run: |
          npm config set //registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}
          npm publish --access public
  lint:
    name: Lint (in parallel)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: npm install
      - run: npm run lint
  test:
    name: Unit Test (in parallel)
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x, 20.x]
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - run: npm install
      - name: Vitest with Optional Datadog Tracing
        run: |
          if [[ -n "${{ secrets.DATADOG_CICD_API_KEY }}" ]]; then
            echo "Run tests with Datadog tracing"
            npm install dd-trace --save-dev
            export DD_CIVISIBILITY_AGENTLESS_ENABLED=true
            export DD_API_KEY=${{ secrets.DATADOG_CICD_API_KEY }}
            export DD_SITE=datadoghq.com
            NODE_OPTIONS='--import dd-trace/register.js -r dd-trace/ci/init' DD_ENV=${{ env.PROJECT_ENV }} DD_SERVICE=${{ env.PROJECT_SERVICE }} npm run test 
          else
            npm test
          fi
